*{
    padding: 0;
    margin: 0;
    background-color: #c6cff5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    border-bottom: 1px solid black;
    background-color: #cbd2f3;
}

NavBar {
    background-color: #cbd2f3;
    padding: 0;
}

NavBar ul {
    background-color: #cbd2f3;
}

NavBar ul li {
    display: inline-block;
    margin: 1em;
    cursor: pointer;
    background-color: #cbd2f3;
}




